* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #1b4332;
  color: #3e7f24;
  display: flex;
  align-items: center;
  margin-top: 20px;
  .main {
    background-color: #43331b;
    color: #3e7f24;
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div {
    height: 50%;
    width: 50%;
    border-radius: 20px;
    background-color: #e36414;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 30px;

    h1 {
      font-size: 1.5rem;
      text-align: center;
      color: #f4d58d;
      font-family: monospace;
    }
  }
  .back {
    height: 50%;
    width: 50%;
    border-radius: 20px;
    background: conic-gradient(
      from 90deg at 50% 50%,
      #9c6644,
      #7f5539,
      #b08968,
      #e6ccb2
    );
  }
  .down{
    height: 50%;
    width: 50%;
    border-radius: 20px;
    background: linear-gradient(45deg, #ff9a9e, #fad0c4, #fad0c4, #ff9a9e);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
